<header>
  <meta charset="utf-8" />
  <link rel="icon" href="public/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <meta name="description" content="an open source technology company" />
  <link rel="apple-touch-icon" href="public/logo192.png" />
  <link rel="manifest" href="public/manifest.json" />
  <title>Easter Company</title>
  <div class="nav-bar">
    <a href="/epanel" class="nav-logo"></a>
    <a href="/epanel">EPANEL</a>
    <a href="/edocs">EDOCS</a>
  </div>
</header>