<header>
  <!--  SITE META DATA  -->
  <meta charset="utf-8" />
  <link rel="icon" href="/public/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <meta name="description" content="an open source technology company" />
  <link rel="apple-touch-icon" href="/public/logo192.png" />
  <link rel="manifest" href="/public/manifest.json" />
  <!--  SITE NAVIGATION BAR -->
  <title>Easter Company</title>
  <div class="nav-bar">
    <!--  MAIN PAGES SECTION -->
    <a class="nav-logo" href="/"></a>
    <a class="nav-page" href="/displayerror">APPS</a>
    <a class="nav-page" href="/displayerror">E-DOCS</a>
    <a class="nav-page" href="/displayerror">STORE</a>
    <!-- MORE PAGES DROP DOWN MENU -->
    <div class="nav-menu">
      <a class="drop-btn"> /MORE </a>
      <div class="drop-content">
        <a href="/displayerror">E-Panel</a>
        <a href="/displayerror">Account</a>
        <a href="/displayerror">Sign Out</a>
      </div>
    </div>
</header>
