body,
html{
  height: 100%;
  background-color: #282c34;
}
footer{
  position: fixed;
  bottom: 5px;
  z-index: 9;
  max-width: 64px;
  color:#ffffff;
  background-color: #110f10;
  overflow: fixed;
  border-radius: 4px;
}
.nav-bar{
  position: fixed;
  top: 5px;
  z-index: 10;
  background-color: #110f10;
  overflow: fixed;
  border-radius: 8px;
  min-width: 420px;
}
.nav-bar a{
  float: left;
  text-align: center;
  width: 96px;
  transition: all 0.3s ease;
  color: white;
  min-height: 48px;
}
.nav-bar a:hover{
  background-color: #c2852a;
}
.nav-logo{
  padding-left:24px;
  background-image:url("https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-9/85045562_625568818219143_8307134098187485184_n.jpg?_nc_cat=100&_nc_sid=85a577&_nc_oc=AQlbDzIXiHJJhRrS1E1KRvy0sLJIoR9hMRIJBAcQ4NTMZnIODW5hp3u5N73LrAAjNtc&_nc_ht=scontent-lht6-1.xx&oh=5b0011e9a60743fe46c6bf548753daec&oe=5EC0DFFC");
  background-position: center;
  background-size: 48px 48px;
  background-repeat: no-repeat;
  background-color: #110f10;
}
