# USER GENERATED CONTENT
__pycache__/
.local/
.vscode/

# PRODUCTION SERVER DIRS
react-front/node_modules/
static/react/
templates/

# MISC FILE TYPES
.pnp.js
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# TEMP LOGS
npm-debug.log*
yarn-debug.log*
yarn-error.log*
