html {
  text-align: center;
  background-color: #282c34;
}

.App {
  text-align: center;
  background-color: #282c34;
}

.hero {
  background-image: url('./media/hero.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 10vh;
  min-width: 100vw;
}

.body {
  background-color: #282c34;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 1vmin);
  color: white;
}

.footer {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 1vmin);
  color: white;
}

.link {
  color: #61dafb;
}
