<body class="global" style="background-color: #282c34;">
	<div class="icon-bar">
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
		<a class="active" href="#"><i class="fa fa-home"></i></a>
		<a href="#"><i class="fa fa-search"></i></a>
		<a href="#"><i class="fa fa-envelope"></i></a>
		<a href="#"><i class="fa fa-globe"></i></a>
		<a href="#"><i class="fa fa-trash"></i></a>
	</div>
	<div class="page_header"></div>
	<div class="page_apps_holder"></div>
</body>
