<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="an open source technology company">
    <link rel="favicon-16x16" href="public/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="static/icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="static/icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="static/icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="static/icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="static/icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="static/icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="static/icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="static/icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="static/icon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="static/icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="static/icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/icon/favicon-16x16.png">
    <link rel="manifest" href="static/icon/manifest.json">
    <meta name="msapplication-TileColor" content="#222">
    <meta name="msapplication-TileImage" content="static/icon/ms-icon-144x144.png">
    <meta name="theme-color" content="#222">
    <!--  SITE NAVIGATION BAR -->
    <title>Easter Company</title>
    <div class="nav-bar grow">
        <!--  MAIN PAGES SECTION -->
        <a class="nav-logo" href="/"></a>
        <a class="nav-page" href="/error"> ACCOUNT </a>
        <a class="nav-page" href="/error"> MY APPS </a>
        <a class="nav-page" href="/error">  STORE  </a>
        <!-- MORE PAGES DROP DOWN MENU -->
        <div class="nav-menu">
            <a class="drop-btn" style="
                    width:80px; 
                    align-items:right; 
                    align-content:right; 
                    align-self:flex-end;
                    color:<! color.titaniumGrey !>;"> . . . </a>
            <div class="drop-content">
                <a href="/documentation" style="color:<! color.titaniumGrey !>;">Overlord</a>
                <a href="/epanel" style="color:<! color.titaniumGrey !>;">EPanel</a>
                <a href="/error" style="color:<! color.titaniumGrey !>;">Sign Out</a>
            </div>
        </div>
    </div>
</head>